html {
    /* font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
    color: rgb(51, 51, 51);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}
body{
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    /* display:flex;
    align-items: center; */
}
  .w100 {
    font-weight: 100;
  }
  .w200 {
    font-weight: 200;
  }
  .w300 {
    font-weight: 300;
  }
  .w400 {
    font-weight: 400;
  }

  a {
      color: #f89623;

  }

  a.web {
    color:rgb(176, 115, 236);        
  }

  

.schedule{
   
    /* background-color: rgb(245, 245, 245); */
    padding: 1rem;
}
.schedule-week {

    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 245,0.8);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    position: relative;
}


.schedule-date {
    /* background-color: rgb(255,255,255); */
    padding: 0.6rem 0 0.3rem 0;
}

.schedule-classes {
    padding: 0px 0.4rem;
}

.schedule-classes-empty {
    text-align: center;
    font-size: 0.8rem;
    position: relative;
    margin: 0.4rem 0px;
    padding: 0.5rem;
    box-sizing: border-box;
}
.class-time{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.class-time-start {
    color: rgb(51, 51, 51);
    font-size: 0.8rem;
}

.class-time-duration {
    color: rgb(51, 51, 51);
    font-size: 0.6rem;
    position: relative;
}

.class-summary{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.class-location{
    margin-top: 1em;
}
.class-summary-text{

}
.class-summary-teacher{
    color: rgb(51, 51, 51);
    font-size: 0.6rem;
    position: relative;
}
.day-nav {
    background-color: rgba(255, 255, 255, 0.2);
    width: 1rem;
    display: none;
    position: absolute;
    height: 100%;
    z-index: 1000;
}

.day-nav img {
    opacity: 0.5;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

.day-nav img:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease 0s;
}

.day-nav:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease 0s;
    transition: width 0.3s ease 0s; 
    width:2em;
}

.day-nav-prev {
    transform: rotate(180deg);
}
.day-nav-next {
    right: 0rem;
}

.date-box {
    display:block;
    text-align: center;
    font-size: 0.8rem;
}
.day-box{
    display:block;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}

.event {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px;
    font-size: 0.8rem;
    position: relative;
    margin: 0.4rem 0px;
    padding: 0.5rem;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 0.3s ease 0s;
}
.event:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 20px;
    transition: box-shadow 0.3s ease 0s;
}
.dehighlighted {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease 0s;
}
.cancelled {
    text-decoration: line-through;
    background-color: rgba(255, 190, 190, 0.5);
}
/* .event {
    background-color: white;
    border: 1px solid black;
}



.event {
    display: block; 
    opacity: 0.9;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    }
 
    .event:hover {
       opacity: 1;
       }

       */

       @media (min-width: 48em){
        .schedule-column {
            width: 14.2857%;
        }
        .schedule-week {
            flex-direction: row;
        }
        .day-nav {
            display: flex;
            align-items: center;
        }
    }