body {
    background-color: red;
    background-size: cover;
}
.event {
    background-color: red;
    border: 1px solid black;
}

.highlighted {
  background-color: greenyellow !important;
}


.event:hover {
    opacity: 1;
   background-color: #d3d3d3;
}
