html {
   
}

body {
    background: url('increation.jpg')  no-repeat center center fixed;
    background-size: cover;
}

.event {
    background-color: white;
    border: 1px solid black;
}

.hidden {
    display: none;
}

.visible {
    display: block; 
}