body {
  background-color: red;
}

.hidden {
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
    margin-left: 200px;
    opacity: 0;
}

.visible {
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
    margin-left: 0px;
    opacity: 1;
}
