.ec {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    justify-items: center;
}

.e {
     height:100%;
     width: 100%;
     margin: 10px 0px 20px 0px;
}

.eh {
    // font-family: proxima-nova;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.69px;
    color: #000;
    font-size: .875em;
    line-height: 1.25em;
    text-align: left;
    margin: 20px 0px;
}

.et {
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.69px;
    color: #000;
    font-size: .875em;
    line-height: 1.25em;
    text-align: left;
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .ec{
        // grid-template-columns: repeat(1, 1fr);
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .ec{
        grid-template-columns: repeat(3, 1fr);
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .ec {
        grid-template-columns: repeat(3, 1fr);
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
